/* @import 'node_modules/modern-normalize/modern-normalize.css'; */

/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
:root {
  --main-text-color: #212121;
  --background-color: #ffffff;
  --additional-text-color: #757575;
  --btn-color: #2196f3;
  --btn-active-color: #188ce8;
  --bg-overlay-color: rgba(33, 150, 243, 0.9);
  --container-color: #eeeeee;
  --logo-text-color: #000000;
  --section-background-color: #f5f4fa;
  --secondary-text-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --icon-bg-color: rgba(255, 255, 255, 0.1);
  --modal-bg-color: rgba(0, 0, 0, 0.2);
  --capture-bg-color: rgba(47, 48, 58, 0.8);
  --main-footer-background-color: #2f303a;
  --line-color: #ececec;
  --icon-color: #afb1b8;
  --secondary-font-family: 'Raleway', sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: var(--background-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

ul,
a {
  text-decoration: none;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  /* or .footer-address */
  font-style: normal;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.container {
  /* outline: 2px solid rgb(47, 89, 255); */

  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  /* outline: 2px solid red; */

  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  padding-left: 0;
  margin: 0;
}

.wrapper {
  display: flex;
  align-items: center;
}

/* ---------- HEADER ----------- */
.header {
  border-bottom: 1px solid var(--line-color);
}
.header .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header .item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  margin-right: 93px;

  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-text-color);
}

.logo span {
  color: var(--btn-color);
}

.links-nav a,
.header-contacts a {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.links-nav a {
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.current {
  position: relative;

  color: var(--btn-color);
}

a.current::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 4px;
  transform: translate(0, -4px);

  background-color: var(--btn-color);
  border-radius: 2px;
}

.header-contacts .mail,
.header-contacts .tel {
  display: flex;
  align-items: center;
}

.header-contacts .icon {
  margin-right: 10px;
}

.header-contacts a {
  color: var(--additional-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}

.links-nav a:hover,
.links-nav a:focus,
.header-contacts a:hover,
.header-contacts a:focus {
  color: var(--btn-color);
}

.header-contacts {
  margin-left: auto;
}

/* ---------- HERO ----------- */
.hero {
  margin: 0 auto;
  background-color: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  background-size: cover;
  height: 600px;
  padding: 200px 0;
}

.hero-title {
  width: 696px;
  margin: 0 auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.btn {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  align-items: center;
  min-width: 216px;
  padding: 10px 32px;

  background-color: var(--btn-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--btn-active-color);
}

.title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
}

/* ---------- FEATURES ----------- */

.features {
  padding-bottom: 0;
}

.features .thums {
  display: flex;
  justify-content: center;
  padding: 25px 100px;
  background-color: var(--section-background-color);
  margin-bottom: 30px;
}

.features-list {
  display: flex;
  column-gap: 30px;
}

.features .item {
  max-width: 270px;
}
.feature-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
}

.feature-text {
  line-height: calc(24 / 14);
  color: var(--additional-text-color);
}

/* ---------- what-we-do ----------- */

.what-we-do-items {
  position: relative;
}

.caption {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  background-color: var(--capture-bg-color);

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;

  color: #ffffff;
}

.what-we-do .list {
  display: flex;
  column-gap: 30px;
}

/* ---------- OUR-TEAM ----------- */

.our-team {
  background-color: var(--section-background-color);
}

.our-team .list {
  display: flex;
  column-gap: 30px;
}

.our-team .item {
  background-color: var(--background-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-description {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.our-team-name {
  margin-bottom: 10px;

  font-size: 16px;
  line-height: calc(19 / 16);
  font-weight: 500;
}

.our-team-job {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--additional-text-color);
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social-links-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-item:hover,
.social-links-item:focus {
  background-color: var(--btn-color);
  fill: var(--secondary-text-color);
}

/* ---------- CLIENTS ----------- */

.clients-list {
  display: flex;
  gap: 30px;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  fill: var(--icon-color);
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--btn-color);
  fill: var(--btn-color);
}

/* ---------- FILTERS ---------- */

.filters-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-btn {
  display: block;
  padding: 6px 22px;
  /* min-width: 130px; */

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--section-background-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filters-btn .item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--btn-color);
  color: var(--secondary-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ---------- PROJECTS ---------- */

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects a {
  color: var(--main-text-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.projects .projects-link:hover,
.projects .projects-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-img-box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  background-color: var(--bg-overlay-color);
  transform: translateY(100%);
  transition: transform 250ms ease;

  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--secondary-text-color);
}

.projects-link:hover .overlay,
.projects-link:focus .overlay {
  transform: translateX(0);
}

.project-description {
  padding: 20px 24px;
  border: 1px solid var(--container-color);
  border-top: 0;
}

.project-title {
  display: block;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}

.project-example {
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--additional-text-color);
}

/* ---------- FOOTER ---------- */

.footer {
  padding: 60px 0;
  background-color: var(--main-footer-background-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-content {
  margin-right: 70px;
}

.footer-content a {
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  margin-top: 20px;
  font-style: normal;
  line-height: calc(24 / 14);
}

.address-link {
  margin-top: 9px;
}
.address-link a {
  color: var(--footer-text-color);
}

.address :hover,
.address :focus {
  color: var(--btn-color);
}

.footer-title {
  font-weight: 700;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.footer-social .social-links-item {
  fill: var(--secondary-text-color);
  background-color: var(--icon-bg-color);
}

.footer-social .social-links-item:hover,
.footer-social .social-links-item:focus {
  background-color: var(--btn-color);
}

/* ---------- MODAL ---------- */

.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--modal-bg-color);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;

  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;

  background: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  background-image: url(../images/close.svg);
  background-color: inherit;
}

.btn-close:hover,
.btn-close:focus {
}
